<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

       Add a Person<br>
       
       <form method = "POST" action = "/add">
       <input type = "text" name = "name">
       <br>
       <input type = "number" name = "age">
       <br>
       <input type = "text"  name = "city"
       <br>
       <input type = "submit">
       </form>


</body>
</html>